* {
    list-style: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    height: 100vh;
}

header {
    width: 20vw;
    height: 100vh;
    overflow-y: scroll;
    overflow-x: visible;

    > nav {
        display: flex;
        justify-content: center;
    }
}

.d_seasonsList {

    display: inline-flex;
    flex-direction: column-reverse;
    width: 100%;
    background-color: #2e4040;
    text-align: center;
    font-size: 1.5em;
    color: white; 

    > li {
        padding: 1em 0;

        &:hover {
            cursor: pointer;
            background-color: #04202a;
        }
    }
    > .selected {
       background-color: #04202a;
       text-decoration: underline;
    }

}

main {
    display: flex;
    flex-direction: column;
    width: 80vw;
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
}

.d_season {
    padding: 1.5em;
}

.d_selectedSeasonsAnime {
    display: flex;
    flex-direction: column;
    padding-left: 3em;

    > li > dl {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        align-content: center;
        vertical-align: middle;
        margin-bottom: 1em;
        letter-spacing: .15em;
        border-bottom: #2e4040 solid .01em;
        > dt {
            display: inline;
            font-size: 1.5em;
            margin-right: 1em;
        }
        > dd {
            display: inline-block;
            padding: .25em;
            a {
                text-decoration: none;
                color: white;
            }
        }
        .dd_url_public {
            background-color: #ff432e;
            margin-right: .5em;
        }
        .dd_url_twitter {
            background-color: #53bbf4;
        }

    }

}